.mgr-20 {
  margin-right: 20px !important;
}

.mgl-20 {
  margin-left: 20px !important;
}

.mgt-20 {
  margin-top: 20px !important;
}

.mgb-20 {
  margin-bottom: 20px !important;
}

.w-100 {
  width: 100px !important;
}

.w-120 {
  width: 120px !important;
}

.w-140 {
  width: 140px !important;
}

.w-160 {
  width: 160px !important;
}

.w-180 {
  width: 180px !important;
}

.w-200 {
  width: 200px !important;
}

.w-220 {
  width: 220px !important;
}

.w-240 {
  width: 240px !important;
}

.w-260 {
  width: 260px !important;
}
